
$baseGap: 20px;
$base-font-size: 16px;

$breakpoints: (
    'default': 0px,
    'tiny':     360px,
    'small':    480px,
    'medium':   600px,
    'large':    760px,
    'giant':    880px,
    'huge':     1000px
);

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,800&display=swap');

$display-font: 'Montserrat', sans-serif;
$main-font: 'Montserrat', sans-serif;

@mixin breakpoint($point, $direction: min) {
    @if map-has-key($breakpoints, $point) {
        @media ( #{$direction+'-width'}:
            if( $direction == min, map-get($breakpoints, $point), map-get($breakpoints, $point) - em(1px))
        ) { @content; }
    }
    @else {
        @error "The breakpoint #{$point} is not associated with a min/max-width.";
    }
}

@function rem($to-size, $from-size: $base-font-size) {
    @if $to-size == 0px { @return 0 }
    @return $to-size / $from-size * 1rem;
}
