@import 'config.scss';

* {
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body {
	background: rgba(0,0,0,1);
	cursor: none;
	color: rgba(255,255,255,1);
	font-family: $main-font;
	overflow-x: hidden;

	&.navOpen {
		overflow-y:hidden;
	}
}

p {
	font-weight: 400;
	margin-bottom: 20px;
	line-height: 24px;
}

h1, h2, h3, h4 {
	font-weight: 800;
	margin-bottom: 20px;
	font-size: 32px;
	font-family: $display-font;

	.sub {
		display:inline-block;
		font-weight: 400;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 4px;
	}
}

a {
	color: #00bf8f;
}

img {
	width: 100%;
	height: auto;
}
.row {
	display:flex; 
	flex-flow: row wrap;
}
.col {
	padding: 0 20px;
	width: 100%;
}

#fancyCursor {
	z-index: 100;
	pointer-events: none;
	width: 40px;
	height: 40px;
	border:solid 1px rgba(255,255,255, 0.3);
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	
	&.input {
		transition:all 200ms;
		transform: translate(0,0);
	}
	&.hovering {
		transition: all 200ms;
		width: 60px;
		height: 60px;
		border:solid 1px rgba(#00bf8f,1);
		animation: glow 1s infinite;
		
		@keyframes glow {
			0% {
				width: 60px;
				height: 60px;
				opacity: 0;
			}
			10% {
				opacity: 1;
			}
			100% {
				width: 90px;
				height: 90px;
				opacity: 0;
			}
		}
	}
	&.hide {
		opacity: 0;
	}
}

button:not(.basic), .button {
	color: white;
	font-size: 14px;
	background: rgba(#001510,1);
	border: none;
	border-radius: 30px;
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 2px;
	display:inline-block;
	text-decoration: none;
	padding: 15px 30px;
	transition: all 300ms;
	cursor: url(/assets/images/dot.png), auto;

	&:active {
		background: rgba(#00bf8f, 1);
	}
}

header {
	.topbar {
		height: 50px;
		background: black;
		position: fixed;
		z-index:50;
		width: 100%;
		display: flex;
		align-items: center;
		padding: 0 20px;

		button {
			background: none;
			border: none;
			color: white;
			position: relative;
			font-weight: 800;
			transition: all 300ms;
			letter-spacing: 4px;
			outline:none;
			cursor: url(/assets/images/dot.png), auto;

			
			span {
				position: relative;
				z-index: 1;
				pointer-events: none;
				&.front {
					position: relative;
					z-index: 3;
				}
			}

			&:before {
				content: "";
				background: white;
				width: 0;
				height: 1px;
				display:block;
				position: absolute;
				left:-20px;
				transition: all 150ms ease-out;
				top: 50%;
				z-index: 2;
			}

			body.navOpen & {
				&:before {
					width: 100vw;
				}
			}

			&:hover {
				color: #00bf8f;
			}
		}
	}
	nav {
		z-index: 50;
		position: fixed;
		width: 100%;
		background:black;
		transform: translateX(-100%);
		transition: all 300ms;
		left:0;
		bottom: 0;
		top:50px;

		body.navOpen & {
			transform: translateX(0);
		}

		ul {
			display:flex;
			justify-content: center;
			list-style: none;
			flex-flow: column nowrap;

			li {
				a {
					padding: 20px;
					color: white;
					display:inline-block;
					text-decoration: none;
					font-weight: 400;
					font-size: 14px;
					text-transform: uppercase;
					letter-spacing: 4px;
					transition: all 300ms;
					cursor: url(/assets/images/dot.png), auto;
				}

				&:hover {
					a {
						color: #00bf8f;
					}
				}
			}
		}
	}
}

#about {
	max-width: 1280px;
	margin: 0 auto 100px auto;
	img {
		margin:0 auto;
		display:block;
		max-width: 400px;
		border-radius: 19px;
		filter: grayscale(1);
		transition: all 300ms;
		margin-bottom: 40px;

		@include breakpoint(medium) {
			max-width:200px;
			height: 400px;
			object-fit: cover;
		}
		@include breakpoint(giant) {
			max-width: 400px;
		}

		&:hover {
			filter: grayscale(0);
		}
	}

	@include breakpoint(medium) {
		.col {
			&:first-of-type {
				width: 240px;
			} 
			&:last-of-type {
				width: calc(100% - 240px);
			}
		}
	}
	@include breakpoint(giant) {
		.col {
			&:first-of-type {
				width: 440px;
			} 
			&:last-of-type {
				width: calc(100% - 440px);
			}
		}
	}
}

@import 'mockup.scss';
@import 'projects.scss';
@import 'getInTouch.scss';
@import 'icons.scss';