rl-gap =
    padding-left g
    padding-right g

rl-dgap =
    padding-left g*2
    padding-right g*2

c-h =
    position absolute
    left 50%
    transform translateX(-50%)

c-v =
    position absolute
    top 50%
    transform translateY(-50%)

