@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap')

g = 20px

f = 'Space Mono', monospace

fw-r = 400
fw-b = 700

d = #1C1C1C
dst = #121212
l = #FFFFFF
l-t = rgba(l, .33)
p = #00BF8F

bxs-1 = 0px 0px 5px rgba(p, .75)
ls-b = 5px

breakpoints = {
    'default':  0px,
    'tiny':     360px,
    'small':    480px,
    'medium':   600px,
    'large':    760px,
    'giant':    880px,
    'huge':     1000px
}
