bp(size)
    @media (min-width: breakpoints[size])
        {block}


size(height, width = null)
    if (width) 
        height height
        width width
    else
        height height
        width height