@require 'stylus/config'
@require 'stylus/functions'
@require 'stylus/mixins'
@require 'stylus/blocks'
@require 'stylus/grid'
@require 'stylus/parts'
@require 'stylus/mockup'

*
    margin 0
    padding 0
    box-sizing border-box

body
    font-family f
    font-size 16px
    font-weight fw-r
    background d
    color l

main
    p
        line-height 28px

    a
        text-decoration none
        white-space nowrap

        &:not(.btn)
            color p
            position relative

            &:before
                width 100%
                height 1px
                content ""
                background p
                position absolute
                bottom 0
                left 0
                box-shadow bxs-1

    h2
        font-size 32px
        margin-bottom g
        line-height 38px

        + h3
            margin-top -15px

    h3
        font-size 18px
        letter-spacing ls-b
        text-transform uppercase
        font-weight fw-r
        margin-bottom g

    p
        margin-bottom g

    #projects
        .preview
            border-radius 30px
            padding g 0px
            background linear-gradient(351.62deg, #00946F 3.78%, #001510 79.01%)
            margin-bottom 120px

            .mockup
                display flex
                justify-content center
                margin-top 20px
                margin-bottom -120px


header 
    padding-top 49px

    .claim
        width 100%
        padding-bottom 54.5%
        position relative

        h1
            position absolute
            display block
            width 100%
            text-transform uppercase
            letter-spacing ls-b
            {rl-gap}
            {c-v}

            span
                display block

            small
                font-size 18px
                letter-spacing ls-b

        &:before
            size(80%)
            content ""
            border-radius 50%
            border solid 2px p
            position absolute
            left 50%
            top 50%
            animation pulse-claim 2s linear infinite

    .topbar
        z-index: 100
        position fixed
        background d
        width 100%
        top 0
        padding: 10px 20px
        display flex
        justify-content space-between

        button
            background none
            border none
            color l
            font-family f
            text-transform uppercase
            font-weight fw-b
            font-size 20px
            outline none

        .social
            display flex
            list-style none

            li
                padding 0 10px

    nav-items = 6 - 1

    nav
        background d
        position fixed
        opacity 0
        visibility hidden
        top 49px
        bottom 0
        width 100%
        z-index 100
        transition all 300ms
        {rl-dgap}

        ul
            display flex
            flex-flow column nowrap
            padding 20px 0
            list-style none

            li
                a
                    font-weight fw-b
                    font-size 28px
                    padding 5px 0
                    margin 10px 0
                    display inline-block
                    color transparent
                    position relative
                    text-decoration none

                    &:before 
                        width 0%
                        content ""
                        left 0
                        top 0
                        position absolute
                        background l
                        height 100%

        body.navOpen &
            opacity 1
            visibility visible

            ul
                li
                    for i in (0..nav-items)
                        &:nth-child({i + 1}) a:before
                            animation line-reveal 1000ms 0ms + (100 * i) 1 forwards

                        &:nth-of-type({i + 1}) a
                            transition color 0ms 500ms + (100 * i)

                    a
                        color l
                            