@import url("https://fonts.googleapis.com/css?family=Space+Mono:400,700&display=swap");
.row {
  max-width: 1520px;
}
.col {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
.btn {
  background: #fff;
  padding: 14px 40px;
  border-radius: 30px;
  color: #121212;
  text-transform: uppercase;
  letter-spacing: 5px;
  display: inline-block;
}
@-moz-keyframes pulse-claim {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
  }
}
@-webkit-keyframes pulse-claim {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
  }
}
@-o-keyframes pulse-claim {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
  }
}
@keyframes pulse-claim {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.1);
    opacity: 0;
  }
}
@-moz-keyframes line-reveal {
  0% {
    left: -10px;
    width: 0%;
    right: auto;
  }
  49% {
    left: -10px;
    width: calc(100% + 20px);
    right: auto;
  }
  51% {
    left: auto;
    right: -10px;
    width: calc(100% + 20px);
  }
  100% {
    left: auto;
    right: -10px;
    width: 0%;
  }
}
@-webkit-keyframes line-reveal {
  0% {
    left: -10px;
    width: 0%;
    right: auto;
  }
  49% {
    left: -10px;
    width: calc(100% + 20px);
    right: auto;
  }
  51% {
    left: auto;
    right: -10px;
    width: calc(100% + 20px);
  }
  100% {
    left: auto;
    right: -10px;
    width: 0%;
  }
}
@-o-keyframes line-reveal {
  0% {
    left: -10px;
    width: 0%;
    right: auto;
  }
  49% {
    left: -10px;
    width: calc(100% + 20px);
    right: auto;
  }
  51% {
    left: auto;
    right: -10px;
    width: calc(100% + 20px);
  }
  100% {
    left: auto;
    right: -10px;
    width: 0%;
  }
}
@keyframes line-reveal {
  0% {
    left: -10px;
    width: 0%;
    right: auto;
  }
  49% {
    left: -10px;
    width: calc(100% + 20px);
    right: auto;
  }
  51% {
    left: auto;
    right: -10px;
    width: calc(100% + 20px);
  }
  100% {
    left: auto;
    right: -10px;
    width: 0%;
  }
}
.base {
  box-shadow: 10px 10px 15px 5px rgba(0,0,0,0.4);
  background: #1a1a1a;
  height: 644px;
  width: 300px;
  border-radius: 32px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.buttons-left {
  position: absolute;
  left: -2px;
  top: 104px;
}
.buttons-left .volume {
  background: #000;
  height: 86px;
  width: 2px;
  margin-bottom: 33px;
}
.buttons-left .assistant {
  background: #000;
  height: 48px;
  width: 2px;
}
.lock {
  background: #000;
  position: absolute;
  height: 48px;
  width: 2px;
  right: -2px;
  top: 172px;
}
.front {
  width: calc(100% - 4px);
  height: calc(100% - 6px);
  background: #000;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
.front:before,
.front:after {
  content: "";
  pointer-events: none;
  height: 100%;
  width: 30px;
  top: 0px;
  position: absolute;
  z-index: 100;
}
.front:after {
  background: linear-gradient(to right, rgba(255,255,255,0.9) 0%, rgba(125,185,232,0) 60%);
  left: 0;
}
.front:before {
  background: linear-gradient(to left, rgba(255,255,255,0.9) 0%, rgba(125,185,232,0) 60%);
  right: 0;
}
.front .top {
  display: flex;
  align-items: center;
  position: absolute;
  height: 30px;
  width: 100%;
  padding: 0 43px;
}
.front .top .sensor {
  border-radius: 50%;
}
.front .top .sensor-tiny {
  height: 6px;
  width: 6px;
  background: #121a23;
}
.front .top .sensor-large {
  height: 11px;
  width: 11px;
  background: #121a23;
  border: solid 2px #1d1e1f;
  margin: 0 12px;
}
.front .top .sensor-large {
  height: 13px;
  width: 13px;
  background: #121a23;
  border: solid 2px #1d1e1f;
}
.front .top .sensor-medium {
  height: 10px;
  width: 10px;
  background: #121a23;
  border: solid 2px #1d1e1f;
  margin-right: 5px;
}
.front .top .speaker {
  margin-left: 23px;
  margin-right: 30px;
  width: 43px;
  height: 5px;
  border: solid #1c1c1d 2px;
  border-radius: 15px;
  background: #101010;
}
.front .top .camera {
  height: 13px;
  width: 13px;
  border: solid 2px #1d1e1f;
  border-radius: 50%;
  position: relative;
  background: #121a23;
  margin-right: 30px;
}
.front .top .camera:before,
.front .top .camera:after {
  content: "";
  background: rgba(255,255,255,0.5);
  width: 5px;
  height: 2px;
  border-radius: 50%;
  position: absolute;
  transform: rotate(-45deg);
  filter: blur(1px);
}
.front .top .camera:before {
  bottom: 1px;
  right: 0px;
}
.front .top .camera:after {
  top: 1px;
}
.front .screen {
  width: calc(100% - 4px);
  height: calc(100% - 55px);
  margin-top: 30px;
  margin-left: 2px;
  background: #191919;
  position: relative;
  overflow: hidden;
  border-radius: 28px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Space Mono', monospace;
  font-size: 16px;
  font-weight: 400;
  background: #1c1c1c;
  color: #fff;
}
main p {
  line-height: 28px;
}
main a {
  text-decoration: none;
  white-space: nowrap;
}
main a:not(.btn) {
  color: #00bf8f;
  position: relative;
}
main a:not(.btn):before {
  width: 100%;
  height: 1px;
  content: "";
  background: #00bf8f;
  position: absolute;
  bottom: 0;
  left: 0;
  box-shadow: 0px 0px 5px rgba(0,191,143,0.75);
}
main h2 {
  font-size: 32px;
  margin-bottom: 20px;
  line-height: 38px;
}
main h2 + h3 {
  margin-top: -15px;
}
main h3 {
  font-size: 18px;
  letter-spacing: 5px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 20px;
}
main p {
  margin-bottom: 20px;
}
main #projects .preview {
  border-radius: 30px;
  padding: 20px 0px;
  background: linear-gradient(351.62deg, #00946f 3.78%, #001510 79.01%);
  margin-bottom: 120px;
}
main #projects .preview .mockup {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: -120px;
}
header {
  padding-top: 49px;
}
header .claim {
  width: 100%;
  padding-bottom: 54.5%;
  position: relative;
}
header .claim h1 {
  position: absolute;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
header .claim h1 span {
  display: block;
}
header .claim h1 small {
  font-size: 18px;
  letter-spacing: 5px;
}
header .claim:before {
  height: 80%;
  width: 80%;
  content: "";
  border-radius: 50%;
  border: solid 2px #00bf8f;
  position: absolute;
  left: 50%;
  top: 50%;
  animation: pulse-claim 2s linear infinite;
}
header .topbar {
  z-index: 100;
  position: fixed;
  background: #1c1c1c;
  width: 100%;
  top: 0;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
}
header .topbar button {
  background: none;
  border: none;
  color: #fff;
  font-family: 'Space Mono', monospace;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  outline: none;
}
header .topbar .social {
  display: flex;
  list-style: none;
}
header .topbar .social li {
  padding: 0 10px;
}
header nav {
  background: #1c1c1c;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  top: 49px;
  bottom: 0;
  width: 100%;
  z-index: 100;
  transition: all 300ms;
  padding-left: 40px;
  padding-right: 40px;
}
header nav ul {
  display: flex;
  flex-flow: column nowrap;
  padding: 20px 0;
  list-style: none;
}
header nav ul li a {
  font-weight: 700;
  font-size: 28px;
  padding: 5px 0;
  margin: 10px 0;
  display: inline-block;
  color: transparent;
  position: relative;
  text-decoration: none;
}
header nav ul li a:before {
  width: 0%;
  content: "";
  left: 0;
  top: 0;
  position: absolute;
  background: #fff;
  height: 100%;
}
body.navOpen header nav {
  opacity: 1;
  visibility: visible;
}
body.navOpen header nav ul li:nth-child(1) a:before {
  animation: line-reveal 1000ms 0ms 1 forwards;
}
body.navOpen header nav ul li:nth-of-type(1) a {
  transition: color 0ms 500ms;
}
body.navOpen header nav ul li:nth-child(2) a:before {
  animation: line-reveal 1000ms 100ms 1 forwards;
}
body.navOpen header nav ul li:nth-of-type(2) a {
  transition: color 0ms 600ms;
}
body.navOpen header nav ul li:nth-child(3) a:before {
  animation: line-reveal 1000ms 200ms 1 forwards;
}
body.navOpen header nav ul li:nth-of-type(3) a {
  transition: color 0ms 700ms;
}
body.navOpen header nav ul li:nth-child(4) a:before {
  animation: line-reveal 1000ms 300ms 1 forwards;
}
body.navOpen header nav ul li:nth-of-type(4) a {
  transition: color 0ms 800ms;
}
body.navOpen header nav ul li:nth-child(5) a:before {
  animation: line-reveal 1000ms 400ms 1 forwards;
}
body.navOpen header nav ul li:nth-of-type(5) a {
  transition: color 0ms 900ms;
}
body.navOpen header nav ul li:nth-child(6) a:before {
  animation: line-reveal 1000ms 500ms 1 forwards;
}
body.navOpen header nav ul li:nth-of-type(6) a {
  transition: color 0ms 1000ms;
}
body.navOpen header nav ul li a {
  color: #fff;
}
