@import url("https://fonts.googleapis.com/css?family=Manjari:100,400,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Manjari;
  color: #515151;
  height: 100%;
}
body {
  height: 100%;
}
.base {
  background: #1a1a1a;
  height: 644px;
  width: 300px;
  border-radius: 32px;
  margin: 0 auto;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}
.base .buttons-left {
  position: absolute;
  left: -2px;
  top: 104px;
}
.base .buttons-left div,
.base .buttons-left .volume {
  background: #000;
  margin-bottom: 33px;
}
.base .buttons-left .assistant {
  background: #000;
}
.base .lock {
  background: #000;
  position: absolute;
  right: -2px;
  top: 172px;
}
.base .front {
  width: calc(100% - 4px);
  height: calc(100% - 6px);
  background: #000;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
}
.base .front:before,
.base .front:after {
  content: "";
  pointer-events: none;
  height: 100%;
  width: 30px;
  top: 0px;
  position: absolute;
  z-index: 100;
}
.base .front:after {
  background: linear-gradient(to right, rgba(255,255,255,0.3) 0%, rgba(125,185,232,0) 60%);
  left: 0;
}
.base .front:before {
  background: linear-gradient(to left, rgba(255,255,255,0.3) 0%, rgba(125,185,232,0) 60%);
  right: 0;
}
.base .front .top {
  display: flex;
  align-items: center;
  position: absolute;
  height: 30px;
  width: 100%;
  padding: 0 43px;
}
.base .front .top .sensor {
  border-radius: 50%;
}
.base .front .top .sensor-tiny {
  background: #121a23;
}
.base .front .top .sensor-large {
  background: #121a23;
  border: solid 2px #1d1e1f;
  margin: 0 12px;
}
.base .front .top .sensor-large {
  background: #121a23;
  border: solid 2px #1d1e1f;
}
.base .front .top .sensor-medium {
  background: #121a23;
  border: solid 2px #1d1e1f;
  margin-right: 5px;
}
.base .front .top .speaker {
  margin-left: 23px;
  margin-right: 30px;
  width: 43px;
  height: 5px;
  border: solid #1c1c1d 2px;
  border-radius: 15px;
  background: #101010;
}
.base .front .top .camera {
  border: solid 2px #1d1e1f;
  border-radius: 50%;
  position: relative;
  background: #121a23;
  margin-right: 30px;
}
.base .front .top .camera:before,
.base .front .top .camera:after {
  content: "";
  background: rgba(255,255,255,0.5);
  width: 5px;
  height: 2px;
  border-radius: 50%;
  position: absolute;
  transform: rotate(-45deg);
  filter: blur(1px);
}
.base .front .top .camera:before {
  bottom: 1px;
  right: 0px;
}
.base .front .top .camera:after {
  top: 1px;
}
.base .front .screen {
  width: calc(100% - 4px);
  height: calc(100% - 55px);
  margin-top: 30px;
  margin-left: 2px;
  background: #fff;
  position: relative;
  overflow: hidden;
  border-radius: 28px;
}
#app {
  padding: 10px;
  background: #e5e5e5;
  min-height: 100%;
  color: #515151;
}
#app img {
  width: 100%;
  height: auto;
}
#app .controls {
  background: #fff;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: calc(100% - 40px);
  padding: 10px 15px 5px 15px;
  display: flex;
  justify-content: space-between;
}
#app .controls button {
  border: none;
  background: none;
  display: block;
  padding: 0;
  color: $rain;
}
#app .controls button i {
  font-size: 40px;
}
#app .playstate {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
#app .playstate #time-played,
#app .playstate #time-length {
  margin-top: 15px;
  display: inline-block;
  margin-left: 10px;
}
#app .playstate .timeline {
  width: 123%;
  position: absolute;
  right: 11px;
  top: 120px;
  display: block;
  transform-origin: 0% 352px;
  transform: rotate(90deg) scaleX(-1);
}
#app .playstate .timeline svg {
  width: 100%;
  overflow: hidden;
  height: 100px;
  position: absolute;
}
#app .playstate .timeline svg * {
  width: 100%;
  height: 100%;
  display: block;
}
#app .playstate .timeline svg path {
  position: absolute;
  stroke: #515151;
}
#app .playstate .timeline svg#controller {
  width: 0%;
  transition: all 300ms linear;
}
#app .playstate .timeline svg#controller path {
  stroke: #0ab4a9;
}
#app .playstate .timeline .progress {
  width: 100%;
  height: 100px;
  position: absolute;
  background: #0ab4a9;
}
#app #song-data {
  margin-top: 15px;
}
#app #song-data p {
  margin-bottom: 30px;
}
#app #song-data p span {
  display: block;
}
#app #song-data p span.title {
  font-size: 26px;
  font-weight: 900;
}
#app #song-data p span.artist {
  font-size: 20px;
  font-weight: 100;
}
#app #song-data .vinyl {
  animation: rotate 6s linear infinite;
  width: 120%;
  padding-bottom: calc(120% - 8px);
  margin-left: calc(-20% - 60px);
  position: relative;
  border-radius: 50%;
  border: solid 5px #141414;
  background: #191919;
  overflow: hidden;
}
#app #song-data .vinyl:after {
  content: "";
  width: 100%;
  background: linear-gradient(145deg, #191919 30%, #393939 50%, #191919 70%);
  z-index: 1;
  animation: rotate reverse linear 6s infinite;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#app #song-data .vinyl:before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}
#app #song-data .vinyl .cover {
  z-index: 2;
  width: 50%;
  height: 50%;
  border: solid 3px #141414;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  transition: all 300ms;
}
#app #song-data.paused .vinyl {
  animation-play-state: paused;
}
#app #song-data.paused .vinyl:after {
  animation-play-state: paused;
}
@-moz-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@-o-keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
